{% include 'layout.html' %}
{% block subcontent %}
  <style>
    .container {
      max-height: auto;
      min-height: 500px;
      width: auto;
      padding: 20px;
      margin: 25px;
      font-family: 'Open-Sans';
    }
    .button {
      background-color: #6377e4; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 3px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
    }
    .button:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    h1{
      text-align:left;
      display: block;
      font-size: 4em;
      font-weight: bold;
    }
    .title{
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
    }
    .box {
      max-height: auto;
      min-height: 500px;
      width: auto;
      margin-top: 57px;
      background-color: rgb(255, 255, 255);
    }
    .main-container {
      padding: 30px;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .card {
      margin: 50px;
      padding: 20px;
      width: 400px;
      min-height: 500px;
      border-radius: 10px;
      box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
    }
    .card:hover {
      box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1),0 15px 50px 0 rgba(0,0,0,0.19);
      cursor: pointer;
    }
    img {
      width:100%;
      min-height: 70%;
    }
    .info {
      padding: 5px 16px;
      font-size: medium;
      color: rgb(40, 113, 136);
      display: inline-block;
      overflow: auto;
      white-space: nowrap;
      margin: 0px auto;
      width: 100%;
    }
    a{
      text-decoration: none;
      color: blue;
    }
    .read-more {
      text-align: right;
    }
    .read-more a {
      color: rgb(48, 111, 247);
      display: inline-block;
      position: relative;
      font-weight: bold;
      text-decoration: none;
    }
    .read-more a:hover{
      text-decoration: underline;
    }
    .right{
      float:right;
    }
  </style>

    <div class="container">
      {% if session['role'] == 'customer' %}
        <div class="right">
          <a id="button" class="button" href="/guides">Plan New Trip</a>
        </div>
      {% endif %}
      {% if trips!=None %}
        <div class="box">
          <div class="main-container">
            <div class="card-container">
              {% for trip in trips %}
                {% if trip[6] == 'Completed' %}
                  <div class="card">
                    {% set fname = 'img/' + trip[-3] %}
                    <div class="title">{{trip[1]}}</div>
                    <img src=" {{ url_for ('static',filename=fname) }} " alt="img" >
                    <div class="info">
                      <h3 style="float: right;"><i class="fa fa-star" aria-hidden="true"></i>{{trip[-1]}}</h3>
                      <h3>Gudie: <a href="!#">{{trip[-2]}}</a> </h3>
                      <h3>Location: {{trip[2]}}</h3>
                      <h3>Date: {{trip[3]}}</h3>
                      <h3>Status: {{trip[6]}}</h3>
                      {% if session['role'] == 'customer' %}
                        <button class="add_blog" hidden>Add Blog</button>
                        <p class="read-more">
                          <a href="/booking/customer_blog/{{trip[0]}}">Read More</a>
                        </p>
                      {% elif session['role'] == 'guide' %}
                        <button class="add_blog" hidden>Add Blog</button>
                        <p class="read-more">
                          <a href="/booking/customer_blog/{{trip[0]}}">Read More</a>
                        </p>
                      {% endif %}
                    </div>
                  </div>
                {% elif trip[6] == 'Due' %}  
                  <script>var change = document.getElementById("button")
                    change.style.backgroundColor ="gray";
                    change.removeAttribute("href");
                    change.style.pointerEvents="none";
                  </script>
                  <div class="card">
                    {% set fname = 'img/dummy.png' %}
                    <div class="title">{{trip[1]}}</div>
                    <img src=" {{ url_for ('static',filename=fname) }} " alt="img" >
                    <div class="info">
                      
                      <h3>Gudie: <a href="!#">{{trip[-3]}}</a> </h3>
                      <h3>Location: {{trip[2]}}</h3>
                      <h3>Date: {{trip[3]}}</h3>
                      <h3>Status: {{trip[6]}}</h3>

                      <var id="trip_id" hidden>{{trip[0]}}</var>
                      <var id="guide_id" hidden>{{trip[-5]}}</var>
                      
                      {% if session['role'] == 'customer' %}
                        {% if trip[-1] == trip[5] %}
                          <p class="read-more">
                            <a onclick="trip_end()">End Trip</a>
                          </p>
                        {% elif trip[-1] < trip[3]  %}
                          <p class="read-more">
                            <a onclick="cancel()">Cancel Booking</a>
                          </p>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>

                  <script>
                    function trip_end(){
                      if (confirm('Do You Want to END Trip ?')) {
                        var trip_id = document.getElementById("trip_id").textContent;
                        var guide_id = document.getElementById("guide_id").textContent;
                        var rating = window.prompt("Give Rating To Your Trip: ");
                        window.location.href = "/booking/rate/" + trip_id+rating+guide_id;
                      }
                    }
                    function cancel(){
                      if (confirm('Do You Want to CANCEL Trip ?')) {
                        var id = document.getElementById("trip_id").textContent;
                        window.location.href = "/booking/cancel/" + id;
                      }
                    }
                  </script>

                {% elif trip[6] == 'Cancelled' %}
                  <div class="card">
                    {% set fname = 'img/dummy.png' %}
                    <div class="title">{{trip[1]}}</div>
                    <img src=" {{ url_for ('static',filename=fname) }} " alt="img" >
                    <div class="info">
                      <h3 style="float: right;"><i class="fa fa-star" aria-hidden="true"></i>{{trip[-2]}}</h3>
                      <h3>Gudie: <a href="!#">{{trip[-3]}}</a> </h3>
                      <h3>Location: {{trip[2]}}</h3>
                      <h3>Date: {{trip[3]}}</h3>
                      <h3>Status: {{trip[6]}}</h3>
                    </div>
                  </div>
                {% endif %}

                

              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    

{% endblock %}

{% include 'nw_footer.html' %}