<!-- Footer-->
<style>
    
    .container{
        height: auto;
        background-color: black;
        padding-left: 70px;
        padding-right: 70px;
    }
    .area{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 30%;
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
        margin: 0px auto;
    }
    .fa-ul{
        width: 50px;
        float: left;
    }
    .button{
        float: right;
    }
    li{
        color: white;
        margin-bottom: 10px;
    }
</style>
<div class="footer">
    <div class="container">
        <div class="area">
                <ul class="fa-ul">
                    <li><i class="fab fa-github fa-3x"><a href="#"></a></i></li>
                    <li><i class="fab fa-github fa-3x"><a href="#"></a></i></li>
                    <li><i class="fab fa-github fa-3x"><a href="#"></a></i></li>
                    <li><i class="fab fa-github fa-3x"><a href="#"></a></i></li>
                </ul>

                <div class="button">
                        <button type="button"><a href="#">Click me</a></button>
                </div>
        </div>
    </div>
</div>
