{% include 'layout.html' %} 
{% block subcontent %}

<style>
    .container {
  box-sizing: border-box;
  min-height: 525px;
  margin: 2rem;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.4);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 3px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: rgb(48, 111, 247);
  text-decoration: none;
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: rgb(48, 111, 247);
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
} 
    .button {
        background-color: #6377e4; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .pager {
        width: 100%;
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
        margin: 0px auto;
    }

</style>

<div class="container">
  {% if posts!=None %}
    {% include 'search_bar.html' %}  
  
    {% for post in posts %}
      <div class="blog-card">
        <div class="meta">
          {% set fname = 'img/' + post[3] %}
          <div class="photo" style="background-image: url('{{ url_for('static',filename = fname) }}')" alt="blog-photo"></div>
        </div>
        <div class="description">
          <h1>{{ post[1] }}</h1>
          <p> {{post[2][0:150]}} </p>
          <h2>Posted By: <a href="#!" >Admin</a></h2>
          <h2>{{post[-2]}}</h2>
          <h2>On {{post[5]}}</h2>

          {% if post[-2] == 'GUIDE' %}
            <p class="read-more">
              <a href="/guides_blog/{{post[0]}}">Read More</a>
            </p>
          {% elif post[-2] == 'USER' %}
            <p class="read-more">
              <a href="/customer_blog/{{post[0]}}">Read More</a>
            </p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
            
    <!-- Pager-->
    {% if type_page == 'last' %}
      <div class="pager">
        <div style='float:left;'>
          <a button class="button" href="{{prev}}">&larr; Older Posts</a>
        </div>
        <div style='float:right;'>
          <a button style="background-color:grey;" class="button" href="{{next}}">Newer Posts &rarr;</a>
        </div>
      </div>
    {% elif type_page == 'start' %}
      <div class="pager">
        <div style='float:left;'>
          <a button style="background-color:grey;" class="button" href="{{prev}}">&larr; Older Posts</a>
        </div>
        <div style='float:right;'>
          <a button class="button" href="{{next}}">Newer Posts &rarr;</a>
        </div>
      </div>
    {% else %}
      <div class="pager">
        <div style='float:left;'>
          <a button class="button" href="{{prev}}">&larr; Older Posts</a>
        </div>
        <div style='float:right;'>
          <a button class="button" href="{{next}}">Newer Posts &rarr;</a>
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>

{% endblock %}
<hr />
{% include 'nw_footer.html' %}